@charset "UTF-8";
@import "schema";

#root {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
  min-height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $darkgrey;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  padding: $desktoppadding;
  transition: 0.3s;

  .left-nav {
    display: flex;
    align-items: center;
    width: 30%;

    img {
      width: 50%;
    }
  }

  .right-nav {
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 2em;
    width: 70%;

    a {
      display: flex;
      align-items: first baseline;
      gap: 0.5em;
      text-decoration: none;
      color: white;
      font-size: 1rem;
      font-weight: 600;
      transition: 0.2s;

      .icon {
        color: #ffffff;
        transition: 0.2s;
      }

      &:hover {
        color: $gold;

        .icon {
          color: $gold; // Change the icon color when the link is hovered
        }
      }

      .github {
        border-radius: 1em;
        background-color: none;
        transition: all 0.3s ease-in-out;

        &:hover {
          box-shadow: 0 0 8px 1px $gold;
          text-shadow: 0 0 8px $gold;
        }
      }
    }
  }
}

.scrolled-nav {
  background-color: #46484d;
}

.button {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  color: $gold;
  background-color: inherit;
  padding: 0.75em 1.5em;
  border: 1px solid $gold;
  border-radius: 1em;
  transition: all 0.3s ease-in-out;

  &:hover {
    box-shadow: 0 0 8px 1px $gold;
    text-shadow: 0 0 3px $gold;
  }
}

.homepage {
  display: flex;
  flex-direction: column;
  margin: 5em 0em;

  .hero-container {
    display: flex;
    background-color: $darkgrey;
    height: 450px;
    padding: $desktoppadding;
    border-bottom-left-radius: 50% 12%;
    border-bottom-right-radius: 50% 12%;

    .hero-container-left {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      gap: 3em;
      width: 60%;

      h1 {
        font-size: 3.5rem;
        font-weight: 900;
        margin: 0;
      }
    }

    .hero-container-right {
      display: flex;
      align-items: center;
      width: 40%;

      img {
        width: 100%;
      }
    }
  }

  .search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5em;
    margin: 5em 6em 0em 6em;
    padding: 4em 5em;
    background-color: $darkgrey;
    border-radius: 1.5em;
    transition: 0.2s;

    h2 {
      font-size: 2.75rem;
      font-weight: 800;
      margin: 0;
    }

    .input-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: #ffffff;
      width: 80%;
      border-radius: 2em;

      .search-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #46484dcf;
        width: 10%;
        padding: 1.15em 0em;
        border-top-left-radius: 1.8rem;
        border-bottom-left-radius: 1.8rem;
        z-index: 3;
      }

      input {
        width: 90%;
        outline: none;
        border: none;
        border-radius: inherit;
        padding: 1.15em;
        font-size: 1.15rem;
        color: $darkgrey;
      }
    }
    &:focus-within {
      box-shadow: 0 0 8px 1px $gold;
    }
  }
}
