@charset "UTF-8";
@import "schema";

#root {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
  min-height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $darkgrey;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  padding: $desktoppadding;
  transition: 0.3s;

  .left-nav {
    display: flex;
    align-items: center;
    width: 30%;

    img {
      width: 50%;
    }
  }

  .right-nav {
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 2em;
    width: 70%;

    a {
      display: flex;
      align-items: first baseline;
      gap: 0.5em;
      text-decoration: none;
      color: white;
      font-size: 1rem;
      font-weight: 600;
      transition: 0.2s;

      .icon {
        color: #ffffff;
        transition: 0.2s;
      }

      &:hover {
        color: $gold;

        .icon {
          color: $gold; // Change the icon color when the link is hovered
        }
      }

      .github {
        border-radius: 1em;
        background-color: none;
        transition: all 0.3s ease-in-out;

        &:hover {
          box-shadow: 0 0 8px 1px $gold;
          text-shadow: 0 0 8px $gold;
        }
      }
    }
  }
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $darkgrey;
  padding: $desktoppadding;
  height: 80px;

  .left-footer {
    display: flex;
    align-items: center;
    width: 30%;

    img {
      width: 50%;
    }
  }

  p {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
  }

  .right-footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 30%;
  }
}

.scrolled-nav {
  background-color: #46484d;
}

.button {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  color: $gold;
  background-color: inherit;
  padding: 0.75em 1.5em;
  border: 1px solid $gold;
  border-radius: 1em;
  transition: all 0.3s ease-in-out;

  &:hover {
    box-shadow: 0 0 8px 1px $gold;
    text-shadow: 0 0 3px $gold;
  }
}

.homepage {
  display: flex;
  flex-direction: column;
  margin: 5em 0em;
  position: relative;

  .hero-container {
    display: flex;
    background-color: $darkgrey;
    height: 450px;
    padding: $desktoppadding;
    border-bottom-left-radius: 50% 12%;
    border-bottom-right-radius: 50% 12%;

    .hero-container-left {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      gap: 3em;
      width: 60%;

      h1 {
        font-size: 3.5rem;
        font-weight: 900;
        margin: 0;
      }
    }

    .hero-container-right {
      display: flex;
      align-items: center;
      width: 40%;

      img {
        width: 100%;
      }
    }
  }

  .search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.25em;
    margin: 5em 6em 0em 6em;
    padding: 4em 5em;
    background-color: $darkgrey;
    border-radius: 1.5em;
    transition: 0.2s;

    h2 {
      font-size: 2.75rem;
      font-weight: 800;
      margin: 0;
    }

    .search-input-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: #ffffff;
      width: 80%;
      border-radius: 2em;

      .search-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #46484dcf;
        width: 10%;
        padding: 1.15em 0em;
        border-top-left-radius: 1.8em;
        border-bottom-left-radius: 1.8em;
        z-index: 3;
      }

      input {
        background: #ffffff;
        width: 90%;
        outline: none;
        border: none;
        border-top-left-radius: none;
        border-top-right-radius: inherit;
        border-bottom-left-radius: none;
        border-bottom-right-radius: inherit;
        padding: 1.15em;
        font-size: 1.15rem;
        color: $darkgrey;
      }
    }

    .bottom-input-container {
      display: flex;
      width: 80%;
      align-items: center;
      justify-content: center;
      gap: 2em;

      select {
        background: #ffffff;
        outline: none;
        border: none;
        border-radius: 0.5em;
        padding: 1em;
        font-size: 1.15rem;
        color: $darkgrey;
      }
    }

    &:focus-within {
      box-shadow: 0 0 8px 1px $gold;
    }

    .button-container {
      display: flex;
      align-items: center;
      flex-direction: column;
    }
  }

  .movieinfo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5em 6em 0em 6em;
    padding: 2.5em 1.5em;
    border: 2px solid #25262a;
    box-shadow: 0 11px 15px #0003;
    border-radius: 10px;

    h2 {
      font-size: 2rem;
    }

    .sub-container {
      display: flex;
      flex-direction: column;
      gap: 1em;
      height: auto;
      width: 100%;

      .movie-list {
        display: flex;
        justify-content: space-between;
        gap: 1em;
        margin: 0;
        padding: 1em 1.5em;
        border-bottom: 1px solid rgba(255, 255, 255, 0.639);
        transition: 0.3s;

        &:hover {
          background-color: #46484d;
          cursor: pointer;
        }

        span.title {
          color: #58d898;
          font-weight: 600;
          width: 35%;
        }

        span {
          font-weight: 500;
          color: #ffffff;
          width: 18%;
        }

        span.value {
          font-weight: 400;
          font-style: italic;
          color: #b1b3b8;
        }
      }

      .movie-modal-container {
        display: flex;
        align-items: center;
        justify-content: center;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
        position: fixed;
        background-color: rgba(11, 11, 11, 0);
        transition: all 0.3s ease-in-out;

        .information-area {
          display: flex;
          flex-direction: column;
          gap: 1.5em;
          background-color: $darkgrey;
          width: 70%;
          height: 450px;
          max-height: 450px;
          color: #ffffff;
          padding: 1.5em;
          margin-top: 4em;
          border: 1px solid rgba(255, 255, 255, 0.35);
          border-radius: 0.5em;
          overflow-x: hidden;
          overflow-y: auto;

          .cancel-button {
            display: flex;
            justify-content: left;
            width: 3%;
            background-color: rgba(255, 255, 255, 0.473);
            padding: 0.15em;
            border-radius: 50%;
          }

          .information-sub-area {
            display: flex;
            flex-direction: row;
            gap: 1em;

            .image-container {
              display: flex;
              width: 25%;

              img {
                width: 100%;
                object-fit: contain;
              }
            }

            .text-container {
              display: flex;
              flex-direction: column;
              width: 75%;
              gap: 1em;

              h4 {
                font-size: 1.5rem;
                font-weight: 600;
                color: #58d898;
                margin: 0;
              }

              span {
                font-weight: 500;
                color: #ffffff;
              }

              span.value {
                font-weight: 400;
                font-style: italic;
                color: #b1b3b8;
              }
            }
          }
        }

        /* Add custom styles for the scrollbar */
        ::-webkit-scrollbar {
          width: 14px; /* Width of the scrollbar */
        }

        ::-webkit-scrollbar-track {
          background: #ffffff; /* Background color of the scrollbar track */
        }

        ::-webkit-scrollbar-thumb {
          background: #555555c6; /* Color of the scrollbar thumb (the draggable part) */
        }

        ::-webkit-scrollbar-thumb:hover {
          background: #ababab; /* Color of the scrollbar thumb on hover */
        }
      }
    }

    .results {
      font-size: 1.15rem;
      margin-top: 2em;
      width: 100%;
    }
  }
}
