@charset "UTF-8";
@import "schema";

@media (min-width: 701px) and (max-width: 1000px) {
  nav {
    padding: $largetabletpadding;

    .left-nav {
      img {
        width: 60%;
      }
    }
  }

  footer {
    padding: $largetabletpadding;

    .left-footer {
      width: 20%;

      img {
        width: 100%;
      }
    }

    p {
      width: 60%;
    }

    .right-footer {
      width: 20%;
    }
  }

  .homepage {
    .hero-container {
      height: 400px;
      padding: $largetabletpadding;
      border-bottom-left-radius: 50% 10%;
      border-bottom-right-radius: 50% 10%;

      .hero-container-left {
        width: 50%;
        gap: 2em;

        h1 {
          font-size: 2.85rem;
        }
      }

      .hero-container-right {
        width: 50%;
        justify-content: right;

        img {
          width: 90%;
        }
      }
    }

    .search-container {
      gap: 1.75em;
      margin: 4em 3em 0em 3em;
      padding: 3em 4em;

      h2 {
        font-size: 2.25rem;
      }

      .search-input-container {
        width: 90%;
        border-radius: 1.25em;

        .search-icon {
          padding: 0.9em 0em;
          border-top-left-radius: 1.25em;
          border-bottom-left-radius: 1.25em;
        }

        input {
          padding: 0.9em;
          font-size: 1rem;
        }
      }
    }

    .movieinfo-container {
      margin: 4em 3em 0em 3em;
      padding: 2em 1.25em;

      .sub-container {
        .movie-list {
          padding: 0em 1.15em;
          span {
            padding: 0.8em 0em;
          }

        }
        
        .movie-modal-container {
            .information-area {
                width: 90%;
                height: 400px;
                margin-top: 5em;

                .top-area {
                    .icon-container {
                        width: 30%;
                    }

                    h3 {
                        width: 70%;
                    }
                }

                .information-sub-area {
                    .image-container {
                        width: 30%;
                    }

                    .text-container-wrapper {
                        width: 70%;
                    }
                }
            }
        }
    }
    }
  }
}
