@media (max-width: 500px) {
  nav {
    padding: 0em 1em;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    height: 70px;
  }
  nav .left-nav {
    width: 80%;
  }
  nav .left-nav img {
    width: 50%;
  }
  nav .right-nav {
    display: none;
  }
  nav .right-nav.open {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    background-color: #25262A;
    padding: 1.5em 1em;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    height: auto;
    box-shadow: 0px 8px 8px rgba(81, 79, 83, 0.541);
  }
  nav .right-nav.open a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
  }
  nav .right-nav.open a:hover {
    color: gold;
  }
  nav .mobile-nav-toggle {
    display: flex;
    align-items: center;
    justify-content: right;
    background-color: transparent;
    cursor: pointer;
    margin-left: auto;
    padding: 0;
  }
  footer {
    flex-direction: column;
    padding: 0em 1em;
    padding-top: 2em;
    padding-bottom: 2em;
    height: auto;
    gap: 1em;
  }
  footer .left-footer {
    width: 100%;
    justify-content: center;
  }
  footer p {
    width: 100%;
    text-align: center;
  }
  footer .right-footer {
    display: none;
  }
  .button {
    text-decoration: none;
    font-size: 0.875rem;
    font-weight: 500;
    color: gold;
    background-color: inherit;
    padding: 0.75em 1.5em;
    border: 1px solid gold;
    border-radius: 1em;
    transition: all 0.3s ease-in-out;
  }
  .button:hover {
    box-shadow: 0 0 8px 1px gold;
    text-shadow: 0 0 3px gold;
  }
  .homepage {
    margin: 4em 0em;
  }
  .homepage .hero-container {
    align-items: center;
    flex-direction: column-reverse;
    justify-content: start;
    padding: 0em 1em;
    padding-top: 2em;
    height: 525px;
    gap: 2em;
    border-bottom-left-radius: 50% 2.5%;
    border-bottom-right-radius: 50% 2.5%;
  }
  .homepage .hero-container .hero-container-left {
    width: 100%;
    gap: 1.5em;
  }
  .homepage .hero-container .hero-container-left h1 {
    font-size: 1.75rem;
    font-weight: 700;
    letter-spacing: 1px;
  }
  .homepage .hero-container .hero-container-right {
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .homepage .hero-container .hero-container-right img {
    width: 90%;
  }
  .homepage .search-container {
    margin: 4em 1em 0em 1em;
    padding: 2em 1.5em;
    border-radius: 1em;
    gap: 1.75em;
  }
  .homepage .search-container h2 {
    font-size: 1.6rem;
  }
  .homepage .search-container .search-input-container {
    width: 100%;
    border-radius: 0.75em;
  }
  .homepage .search-container .search-input-container .search-icon {
    width: 15%;
    padding: 0.5em 0em;
    border-top-left-radius: 0.75em;
    border-bottom-left-radius: 0.75em;
  }
  .homepage .search-container .search-input-container input {
    width: 85%;
    padding: 0.5em 0.8em;
    font-size: 1rem;
  }
  .homepage .search-container .button-container p {
    text-align: center;
  }
  .homepage .search-container .error-message {
    font-size: 0.9rem;
  }
  .homepage .movieinfo-container {
    margin: 4em 1em 0em 1em;
    padding: 1.5em 0.75em;
  }
  .homepage .movieinfo-container h2 {
    font-size: 1.6rem;
  }
  .homepage .movieinfo-container .sub-container .movie-list {
    flex-wrap: wrap;
    gap: 0.5em;
    padding: 0.5em;
  }
  .homepage .movieinfo-container .sub-container .movie-list span.title {
    font-size: 1rem;
    width: 100%;
  }
  .homepage .movieinfo-container .sub-container .movie-list span {
    padding: 0.5em 0em;
    width: 30%;
  }
  .homepage .movieinfo-container .sub-container .movie-modal-container .information-area {
    width: 85%;
    height: 400px;
    max-height: 450px;
    padding: 1em;
  }
  .homepage .movieinfo-container .sub-container .movie-modal-container .information-area .top-area .icon-container {
    width: 10%;
  }
  .homepage .movieinfo-container .sub-container .movie-modal-container .information-area .top-area h3 {
    font-size: 1.15rem;
    width: 90%;
  }
  .homepage .movieinfo-container .sub-container .movie-modal-container .information-area .information-sub-area {
    flex-direction: column;
    height: 100vh;
    overflow-y: scroll;
  }
  .homepage .movieinfo-container .sub-container .movie-modal-container .information-area .information-sub-area .image-container {
    flex-grow: 1;
    width: 100%;
    overflow-y: scroll;
  }
  .homepage .movieinfo-container .sub-container .movie-modal-container .information-area .information-sub-area .text-container-wrapper {
    flex-grow: 1;
    width: 100%;
  }
  .homepage .movieinfo-container .results {
    font-size: 1rem;
  }
}/*# sourceMappingURL=App_mobile.css.map */